<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648204265242-ni1f4rsbav6jktc0g6t7inkap8ab3vln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648204265242-ni1f4rsbav6jktc0g6t7inkap8ab3vln</string>
	<key>API_KEY</key>
	<string>AIzaSyCXdM1Ej7b1Sm1tQZxmjSr9QXjMata3K8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>648204265242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hashtag.oct.converzone</string>
	<key>PROJECT_ID</key>
	<string>converzone-3e328</string>
	<key>STORAGE_BUCKET</key>
	<string>converzone-3e328.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648204265242:ios:d5672e88b832a7ef956ea3</string>
	<key>DATABASE_URL</key>
	<string>https://converzone-3e328.firebaseio.com</string>
</dict>
</plist>