name: Swift

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
    build:
      runs-on: linux-latest
      steps:
        - name: Swift Action
          uses: Didstopia/SwiftAction@v1.0.3
          with:
            # Swift action to run
            swift-action: build
