name: Swift

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
      
    - name: Build for iOS
      run: xcodebuild -workspace converzone.xcworkspace -scheme converzone -allowProvisioningUpdates build
      #run: swift build -v
      
    - name: Run tests for iOS
      run: xcodebuild build-for-testing -workspace converzone.xcworkspace -scheme converzone
      #run: swift test -v
